<mat-card [ngClass]="{'ui-datatable ui-widget':true}" [ngStyle]="{'width': width, 'height': height}" class="card-wrapper">

  <div *ngIf="header" [mHeader]="header" (filterChange)="filterChange($event)"></div>

  <div class="table-container">
    <table>
      <thead [mColumnHeader]="columns"></thead>
      <tfoot [mColumnFooter]="columns" *ngIf="hasFooter()"></tfoot>
      <tbody [mTableBody]="columns" [value]="dataToRender"></tbody>
    </table>
  </div>

  <div *ngIf="footer" [mFooter]="footer"></div>
</mat-card>

