* {
  box-sizing: border-box;
}
:host ::ng-deep .country-header-class{
  min-width: 200px !important;
}

:host ::ng-deep .align-right{
  text-align: right;
}

:host{
  // --table-height: 200px;
  --column-padding: 0 28px;
  --first-column-padding: 0 0 0 24px;
  --last-column-padding: 0 24px 0 0;

  --row-height: 48px;
  --table-header-height: 56px;
  --table-footer-height: 56px;
  --table-border-color: #ccc;

  --card-footer-height: auto;

  --row-selection-color: #eee;
  --row-hover-color: #eee;
}
