<m-table [value]=countries
         [sortField]="'country'" [sortOrder]="1" (onSort)="changeSort($event)"
         (onRowClick)="rowClick($event)"
         [selectable]="true" [selectionMode]="'multiple'" [selectionHandler]="true" (onRowSelect)="rowSelect($event)" (onRowUnselect)="rowUnselect($event)" (selectionChange)="onSelectionChange($event)" [(selection)]="selectedRows"
         [expandable]="true" [expandMultiple]="false" (onRowExpand)="rowExpanded($event)" (onRowCollapse)="rowCollapse($event)"
         (onEditComplete)="editComplete($event)" (onEditInit)="editInit($event)" (onEdit)="edit($event)" (onEditCancel)="editCancel($event)"
         (valueChange)="valueChange($event)" (onFilter)="onFilter($event)">

  <m-header title="Countries" [globalSearch]="true" [colSetting]="true"></m-header>
  <!--<m-footer></m-footer>-->

  <m-column field="country" header="Country" [sortable]="true" [editable]="true"></m-column>
  <m-column field="capital" header="Capital" [sortable]="true" [hidden]="true"></m-column>
  <m-column field="continent" header="Continent"></m-column>
  <m-column field="flag" header="flag" [sortable]="true" [editable]="true">
    <ng-template let-col mTemplate="header">
      <button type="button" (click)="flagHeaderClick(col)">Falg</button>
    </ng-template>
    <ng-template let-col let-row="row" mTemplate="body">
      <img [src]="row.flag" width="35px" (click)="flagClicked($event,row)"/>
    </ng-template>
    <ng-template let-col let-row="row" mTemplate="editor">
      <div style="background: gray; padding: 10px">
        <img [src]="row.flag" width="100%">
        <input [(ngModel)]="row[col.field]">
      </div>
    </ng-template>
  </m-column>
  <ng-template let-row let-index="rowIndex" mTemplate="expansion">
    {{index}} - {{row.country}}
    <br>
    <img [src]="row.flag" width="100px" style="padding: 20px 0px;">
  </ng-template>
</m-table>

