@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
.card-wrapper{
  padding: 0px !important;
}
.table-container{
  width: 100%;
  overflow: scroll;
  background: #fff;
  display: inline-block !important;
  font-family: Roboto,Helvetica Neue,sans-serif !important;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}
.table-header{
  height: 64px;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 24px;
  padding-right: 14px;
  position: relative;
  display: flex;
}
.table-header-title{
  width: 40%;
  line-height: 64px;
  font-size: 22px;
}
.table-header-selection-count{
  width: 40%;
  line-height: 64px;
}
.tool-box{
  display: flex;
  justify-content: flex-end;
  width: 60%;
  right: 0px;
  color: #757575;
}
.tool-box .mat-form-field-flex{
  margin-top: 5px;
}
.search-setting-wrapper{
  width: 100%;
  position: relative;
}
.col-setting-btn{
  top: 12px;
}
.ui-search-form{
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
.col-setting-wrapper{
  position: absolute !important;
  top: 65px;
  right: 0px;
  padding: 0px !important;
  z-index: 3000;
  max-height: 200px;
  overflow: auto;
}
.search-icon{
  position: absolute !important;
  top: 12px !important;
  right: 0px !important;
}
.search-open{
  width: 100%;
}
.search-close{
  width: 0%;
}
.table-footer{
  height: 56px;
  border-top: 1px solid #e0e0e0;
  padding-left: 24px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  position: relative;
}
//th,td{
//  min-width: 100px;
//  max-width: 200px;
//}
th:not(:first-child),td:not(:first-child){
  padding: 0px 28px;
}
th:first-child, td:first-child{
  padding-left: 24px;
}
th:last-child, td:last-child{
  padding-right: 24px;
}
th{
  top: 0;
  position: sticky;
  background: #fff;
  z-index: 2000;
}
td{
  position: relative;
}

tr {
  border-top: 1px solid #e0e0e0;
  height: 47px;
  transition: all 0.2s;
}
tr:hover{
  background: #EEEEEE;
}

thead tr {
  border-top: none !important;
  text-align: left;
  font-size: 12px;
  height: 55px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}
thead tr:hover{
  background: #fff;
}

tfoot tr {
  text-align: left;
  font-size: 12px;
  height: 51px;
  color: rgba(0, 0, 0, 0.54);;
}
tfoot tr:hover{
  background: #fff;
}

//thead, tbody, tfoot{
//  display: block;
//}
//
//tbody{
//  height: 100px;
//  overflow-y: auto;
//  overflow-x: hidden;
//}

.ui-checkbox-header, .ui-expand-header{
  width: 1%;
  white-space: nowrap;
}

.ui-sortable-column {
  cursor: pointer;
}

.ui-sortable-column-icon {
  font-size: 12px;
  vertical-align: middle;
}

.ui-row-selected{
  background: #EEEEEE;
}

.ui-expand-icon{
  font-size: 12px;
  vertical-align: middle;
  cursor: pointer;
  color: #757575;
}

.ui-input-card{
  background: #f7f7f7;
  padding: 0px 0px !important;
  top: 0px !important;
  //width: 100% !important;
}

.ui-input-form{
  width: 150px;
  padding: 0px 12px;
}

.ui-cell-editor{
  position: absolute !important;
  z-index: 1000 !important;
  top: 0 !important;
}

.ui-datatable .ui-editable-column > .ui-cell-editor {
  display: none;
}

.ui-datatable .ui-editable-column.ui-cell-editing > .ui-cell-editor {
  display: block;
}

.ui-datatable .ui-editable-column.ui-cell-editing > .ui-cell-data {
  visibility: hidden;
  //display: none;
}


